body {
  margin:0;
  background-image:url('img/bg.jpg');
  background-repeat:repeat-y;
  font-family:"arial","helvetica";
}

a {
  text-decoration:none;
  color:blue;
}

a:hover {
  text-decoration:underline;
}

div.content {
  position:absolute;
  left:300px;
  top:85px;
  width:600px;
}

p {
  text-align:justify;
}

div.menu {
  width: 200px;
  position:absolute;
  left:10px;
  top: 250px;
}

div.menuitem {
  width:180px;
  margin-top:10px;
  margin-bottom:5px;
  cursor:pointer;
  padding:3px;
  padding-left:1em;
  font-weight:bold;
  background:#747563;
}
div.menuitemThis {
  width:180px;
  margin-top:10px;
  margin-bottom:5px;
  padding:3px;
  padding-left:1em;
  font-weight:bold;
  color:#ebf14a;
  background:#747563;
}

a.menu {
  color:#f0f1d0;
  text-decoration:none;
}

a.menu:hover {
  text-decoration:none;
}

div.head {
  margin-top:5px;
  position:absolute;
  padding:0px;
  height:80px;
  width:600px;
  top:0px;
  left:300px;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-color:#747563;
  text-align:right;
}

div.cob {
  position:absolute;
  width:40px;
  height:72px;
  background-image:url('img/cob2.gif');
  left:82px;
  top:50px;
}

div.cobnet {
  position:absolute;
  width:300px;
  height:250px;
  left:0px;
  top:0px;
  background-image:url('img/net.gif');
}

div.cobthread {
  position:absolute;
  width:3px;
  height:1px;
  left:100px;
  top:50px;
  background-image:url('img/thread.gif');
  background-repeat:repeat-y;
}

div.counter {
  margin-top:80px;
  width:200px;
  text-align:center;
}

div.top-banner {
  position:absolute;
  top:15px;
  left:130px;
  width:300px;
  height:50px;
  background-image:url('img/top.gif');
}

div.flyes {
  width:600px;
  height:27px;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-color:#747563;
  margin-bottom:10px;
}

div.fly {
  width:46px;
  height:27px;
  margin-left:20px;
  background-image:url('img/flye.gif');
  background-repeat:no-repeat;
}

div.fly-text {
  position:relative;
  background-color:#fffaa1;
  width:17em;
  margin-top:-65px;
  margin-left:65px;
  padding:5px;
  border-style:solid;
  border-width:1px;
  font-size:80%;
  display:none;
}

div.sign {
  font-size:80%;
  margin-bottom:10px;
}

img.left {
  float:left;
  margin-right:1em;
}

div.epygraph {
  font-style:italic;
  font-size:90%;
  color:#44453a;
}

p.left {
  text-align:left;
}

div.right-field {
  display:none;
  position:absolute;
  left:930px;
  right:20px;
  top:270px;
  padding:3px;
  background-color:#eff1c3;
  border-style:dotted;
  border-width:1px;
  border-color:blue;
  font-size:80%;
  overflow:hidden;
}

div.item {
  border-width:2px;
  border-style:solid;
  border-color:#C5C694;
  margin-bottom:2ex;
}

div.item-title {
  background-color:#C5C694;
  color:#44453A;
  font-weight:bold;
}

div.item-description {
  text-align:justify;
  padding:5px;
}

table.property, tr.property, td.property {
  padding:0;
  margin:0;
}

a.button {
  background-color:#EFF1D1;
  color:#44453A;
  text-decoration:none;
  padding-left:1em;
  padding-right:1em;
  border-style:solid;
  border-width:1px;
}

a.button:hover {
  background-color:#FDFFDD;
  text-decoration:none;
}